Source: icon-metrics
Section: utils
Priority: optional
Maintainer: Ármin Csutorás <csutorasa@gmail.com>
Package: icon-metrics
Version: 1.3.3
Architecture: all
Description: icon-metrics
    NGBS iCON smart home control system metrics reader
Build-Depends: dh-systemd (>=1.5)
